.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-select {
  width: 50%;
}
